* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(86, 86, 97);
    min-height: 100vh;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    color: #f3c851;
    padding: 2vh;

}

.footer {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(53, 53, 61);
    color: #aa6b24;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer img {
    max-height: 25px;
}

/* Content */

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(110, 110, 116);
    gap: 10px;
    border: 1px solid orange;
    padding: 20px 10px;
}

.display-area {
    background-color: rgb(136, 136, 136);
    width: 100%;
    height: 75px;
    border-radius: 15px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4%;
}

button {
    width: 20%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    cursor: pointer;
}

#btn1 {
    background-color: rgb(110, 110, 116);
    border: 0;
    cursor: default;
}